<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/products/upload_product" method="post" enctype="multipart/form-data">
        Product Brand : <input type="text" name="p_brand"><br>
        Image : <input type="file" name="p_image"><br>
        Model : <input type="text" name="p_model"><br>
        Os : <input type="text" name="p_os"><br>
        Cellualar technology: <input type="text" name="p_cellularTechnology"><br>
       Memory storage : <input type="text" name="p_memoryStorage"><br>
       Color : <input type="text" name="p_color"><br>
        Screen size: <input type="text" name="p_screeSize"><br>
       RAM : <input type="text" name="p_ram"><br>
       Battery : <input type="text" name="p_battery"><br>
       Sim : <input type="text" name="p_sim"><br>
       Camera : <input type="text" name="p_camera"><br>
       Quantity : <input type="text" name="p_quantity"><br>
       Price : <input type="text" name="p_price"><br>
       Description : <input type="text" name="p_description"><br>
       <input type="submit" value="Add">
    </form>
</body>
</html>